// 共通フレームワーク

@keyframes my-ripple-out {
  50% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
  100% {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
  }
}
.my-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.my-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.2rem;
  animation-duration: 2s;
}
